/* Шапка */
.header1 {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(135deg, #adadad, #3f3f3f);
    color: white;
}

/* О нас */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.about h2 {
    font-size: 2em;
    color: #007bff;
}

.about p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Команда */
.team {
    text-align: center;
    padding: 50px ;
    background: white;
}

.team h2 {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 20px;
}

.team h3 {
    font-size: 2em;
    color: #ffffff;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.team-member {
    background: #292929;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 200px;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}