<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Style</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>

<body>

  <header class="header">
    <h1><a href="{{ url_for('index') }}">STAR STYLE</a></h1>
  </header>

  <nav class="nav">
    <div class="menu-toggle">
      ☰
    </div>
    
    <div class="sidebar-menu">
      <h2>Меню</h2>
      <ul class="menu-items">
        <li><a href="{{ url_for('index') }}">Главная</a></li>
        <li><a href="{{ url_for('profile') }}">Личный кабинет</a></li>
        <li><a href="{{ url_for('Stars') }}">Знаменитости</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>
    
    <div class="text">
      <a href="{{ url_for('Western_Stars') }}">Западные Звезды</a>
      <a href="{{ url_for('Ru_Streetwear') }}">Русские Бренды</a>
      <a href="{{ url_for('CIS_Stars') }}">СНГ Звезды</a>
    </div>
  
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Поиск...">
      <button class="search-button">Искать</button>
    </div>
  </nav>

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2025 Star Style</p>
    </footer>
</body>
</html>

