{% extends  "base.html" %}

{% block  title %}
Знаменитости
{% endblock %}

{% block  content %}

<body>
    <div class="container">
        <div class="celebrity-list">
            {% for star in allstars %}
            <div class="celebrity-card">
                <img src="{{ url_for('static', filename=star.image_url) }}" alt="{{ star.name }}" class="celebrity-image">
                <p class="celebrity-name">{{ star.name }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}

